$palette-bg-primary: #fcf8f5;
$palette-bg-secondary: #dfc39d;
$palette-bg-secondary-dark: #d9b184;
$palette-bg-secondary-darker: #9c7858;
$palette-bg-secondary-darkest :#7f6044;
$palette-text-color: rgb(20, 20, 20);