$palette-bg-primary: #fff2e8;
$palette-bg-secondary: #dfc39d;
$palette-bg-secondary-dark: #d9b184;
$palette-bg-secondary-darker: #9c7858;
$palette-bg-secondary-darkest :#7f6044;
$palette-text-color: rgb(20, 20, 20);

/* $font-url: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */